/*
File: index.css
Student: Jordan Than
ID: 301360824
Date: 05/24/24
*/
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #213f4b;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  font-weight: 500;
  color: #6CFFF8;
  text-decoration: inherit;
}
  a:hover {
  color: #535bf2;
}
body {
  margin: 20px;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p {
  font-size: 22px;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
li {
  font-size: 24px;
}
a {
  font-size: 23px;
  font-family: 'Gill Sans', Gill Sans MT, 'Calibri', 'Trebuchet MS', sans-serif;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
  button:focus,
  button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
@media (prefers-color-scheme: light) {
  :root {
  color: #213547;
  background-color: #ffffff;
}
a:hover {
  color: #747bff;
}
button {
  background-color: #f9f9f9;
}
}
nav {
  float:right;
  font-size:x-large;
}

#left-layout {
  float: left;
  margin: 50px 20px 0 0;
}
#left-about {
  float: left;
  margin: 0 15px 0 0;
}
#center {
  margin-left: auto; 
  margin-right: auto;
  width: 25%;
  text-align: center;
}
input {
  margin: 12px 0;
  font-size: 90%;
}
textarea {
  margin: 12px 0;
}
fieldset {
  border-radius: 25px;
  border: 0;
}
fieldset.project:hover {
  box-shadow: 3px 3px 15px #b03939;
}
.container {
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}
img {
   max-width: 100%;
   max-height:100%;
   margin-right: 10px;
}
.text {
  font-size: 20px;
}